{% load static %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top navbar-dnp">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="https://www.dnp.gov.co/estilos/images/logoNuevo.jpg" alt="" height="40px" class="d-inline-block align-text-top">
            <!-- <img src="{% static 'images/logo_pequeno.png' %}" alt="" height="35" class="d-inline-block align-text-top"> -->
            <!-- <span style="margin-left: 15px;">Mapas de brecha de evidencia</span> -->
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand abs" href=""></a>
            <ul class="navbar-nav ms-auto">
                {% comment %} {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Hola {{ request.user.first_name|title }} ({{ request.user.username }})</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %} {% endcomment %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
                    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:departamental' %}">Departamental</a></li> {% endcomment %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:indicadores' %}">Indicadores</a></li>
                    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:manzanas' %}">Por manzanas</a></li> {% endcomment %}
                    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:simulacion' %}">Simulación</a></li> {% endcomment %}
                    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:red' %}">Red</a></li> {% endcomment %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:ayuda' %}">Ayuda</a></li>
                    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:pruebas' %}">pruebas</a></li> {% endcomment %}
                {% comment %} {% endif %} {% endcomment %}
            </ul>
        </div>
    </div>
</nav>
<div class="row fixed-top" style="margin-top:69px;">
    <div class="col-4 amarillo"></div>
    <div class="col-4 azul"></div>
    <div class="col-4 rojo"></div>
</div>