<!-- templates/departamental.html -->
{% extends 'base.html' %}
{% load static %}
{% block referencia %}departamental.html{% endblock %}
{% block title_1 %}Departamental{% endblock %}
{% block title_2 %}Departamental{% endblock %}

{% block content %}
    <p>{{ mensaje }}</p>    
    <div class="row">
        <div class="col-md-2" style="margin-top: 25px">
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="compareCheck" onclick="controlObjetos()">
                    <label class="form-check-label" for="compareCheck">Comparar</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden" id="selection_tipo_grafico_group">
            <div class="form-group">
                <label class="d-inline-block" for="selection_tipo_grafico">Tipo de gráfico</label>
                <select class="form-select form-select-sm d-inline-block" aria-label="Default select example" id="selection_tipo_grafico" onclick="controlObjetos()">
                    <option value="map" selected>Mapa</option>
                    <option value="radar">Radar</option>
                </select>
            </div>
        </div>
    </div>

    <hr>

    <!-- Presentar - Mapa -->
    <div id="section1">
        <div class="row">
            <p style="color:red;">section1</p>            
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_departamento_1">Departamento</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_departamento_1" onchange="updateGraph_1()">
                        {% comment %} <option value="0" selected>Todos</option> {% endcomment %}
                        <option value="todos" selected>Todos</option>
                        {% for dep in departamentos %}
                            <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_dimension_1">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_1" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}" onchange="updateGraph_1()">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_indicador_1">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_1" onchange="updateGraph_1()">
                        <option value="0" selected>pruebas</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:16px;">
            <div class="col-md-6">
                <div>
                    map1
                    <div id="map1" style="height: 480px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    radar - presentar
                    <div id="radar1" style="height: 480px;"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Comparar - Mapa -->
    <div id="section2">
        <div class="row">
            <p style="color:red;">section2</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selection_departamento_2">Departamento</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_departamento_2" onchange="updateGraph_2()">
                        <option value="todos" selected>Todos</option>                        
                        {% for dep in departamentos %}
                            <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_dimension_2">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_2" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}" onchange="updateGraph_2()">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_indicador_2">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_2" onchange="updateGraph_2()">
                        <option value="0" selected>pruebas</option>
                    </select>
                </div>
                <div style="margin-top:16px;">
                    map2
                    <div id="map2" style="height: 480px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selection_departamento_3">Departamento</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_departamento_3" onchange="updateGraph_3()">
                        <option value="todos" selected>Todos</option>
                        {% for dep in departamentos %}
                            <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_dimension_3">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_3" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}" onchange="updateGraph_3()">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_indicador_3">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_3" onchange="updateGraph_3()">
                        <option value="0" selected>pruebas</option>
                    </select>
                </div>
                <div style="margin-top:16px;">
                    map3
                    <div id="map3" style="height: 480px;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comparar - Radar -->
    <div id="section3">
        <div class="row">
            <p style="color:red;">section3</p>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_departamento_5">Departamento</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_departamento_5">
                        <option value="todos" selected>Todos</option>
                        {% for dep in departamentos %}
                            <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_dimension_5">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_5" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}" onchange="indicadorPersonalizado()">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                        <option value="personalizado">Personalizado</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_indicador_5">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_5">
                        <option value="0" selected>pruebas</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="section4">
            <div class="row mt-1">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="selection_dimension_1">Indicadores</label>
                        <div>
                            <select id="multipleSelect" multiple name="native-select" placeholder="Indicadores" data-search="true" data-silent-initial-value-set="true"> <!-- tiene EventListener abajo-->
                                {% for item in indicadores %}
                                    <option value="{{ item.pk }}">({{ item.dimension}}) {{ item.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:16px;">
            <div class="col-md-12">
                <div>
                    radar - presentar
                    <div id="radar2" style="height: 480px;"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function controlObjetos() {
            var section1 = document.getElementById("section1"); // Presentar - Mapa
            var section2 = document.getElementById("section2"); // Comparar  - Mapa            
            var section3 = document.getElementById("section3"); // Comparar  - Radar

            var tipo_grafico = document.getElementById('selection_tipo_grafico');
            var tipo_grafico_value = tipo_grafico.options[tipo_grafico.selectedIndex].value;
            
            var selection_tipo_grafico_group = document.getElementById('selection_tipo_grafico_group');
            
            var compareCheck = document.getElementById('compareCheck');
            var compareCheck_value = compareCheck.checked;

            if (compareCheck_value) {
                selection_tipo_grafico_group.classList.add("visible");
                selection_tipo_grafico_group.classList.remove("hidden");
            } else {
                selection_tipo_grafico_group.classList.add("hidden");
                selection_tipo_grafico_group.classList.remove("visible");
            }

            section1.classList.remove("visible");
            section2.classList.remove("visible");            
            section3.classList.remove("visible");

            section1.classList.add("hidden");
            section2.classList.add("hidden");            
            section3.classList.add("hidden");

            if (compareCheck_value == false) {
                // console.log('Map - show')
                section1.classList.add("visible");
                section1.classList.remove("hidden");                
            } else {

                if (tipo_grafico_value == 'map') {
                    // console.log('Map - compare')
                    section2.classList.add("visible");
                    section2.classList.remove("hidden");                
                } else if (tipo_grafico_value == 'radar') {
                    // console.log('Radar - compare')
                    section3.classList.add("visible");
                    section3.classList.remove("hidden");                
                }
            }            
        };
        controlObjetos();
    </script>
    
    <script>
        var selection = [];
        // lectura de indicadores en formato json para el multiselect
        var indicadores_json = JSON.parse('{{ indicadores_json | safe }}')

        function filtroMultiselect(elemento) { 
            return selection.includes(elemento.pk.toString());
        }
        
        function indicadorPersonalizado() {
            // console.log('function indicadorPersonalizado()');
            var dimension = document.getElementById('selection_dimension_5');
            var dimension_value = dimension.options[dimension.selectedIndex].value;
                
            selection = $('#multipleSelect').val();
            var data_multiselect = indicadores_json.filter(filtroMultiselect)

            var selection__ind_pk = [];
            var selection__ind_name = [];
            for(var i=0; i < data_multiselect.length; i++){
               selection__ind_pk.push(data_multiselect[i].pk);
               selection__ind_name.push(data_multiselect[i]['fields'].nombre);               
            }

            // console.log('-----')
            // console.log('selection:', selection)
            // console.log('data_multiselect:', data_multiselect)
            // console.log('selection__ind_pk:', selection__ind_pk)
            // console.log('selection__ind_name:', selection__ind_name)
            
            var nueva_selection_indicador = document.getElementById("section4");
            section4.classList.remove("visible");
            section4.classList.add("hidden");

            if (dimension_value == 'personalizado') {
                document.getElementById("selection_indicador_5").disabled = true;
                section4.classList.remove("hidden");
                section4.classList.add("visible");
            } else {
                document.getElementById("selection_indicador_5").disabled = false;
            }
            
        };
        indicadorPersonalizado()
    </script>

    <script>
        function filtroDepartamental_1(elemento) {
            return elemento['properties'].DPTO_CCDGO == selection_departamento_1.value;
        }
        function filtroDepartamental_2(elemento) {
            return elemento['properties'].DPTO_CCDGO == selection_departamento_2.value;
        }
        function filtroDepartamental_3(elemento) {
            return elemento['properties'].DPTO_CCDGO == selection_departamento_3.value;
        }
    </script>

    <script>
        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        // ::: Mapas
        
        function polystyle(feature) {
            return {
                fillColor: 'red',
                weight: 0.8,
                opacity: 1,
                color: 'white',  //Outline color
                fillOpacity: 0.5
            };
        }
        
        var polyData = "{% static 'json/MunicipiosVeredas_2MB.json' %}"
        // https://leafletjs.com/reference.html

        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

        var map1 = L.map('map1').setView([4.683709901063048, -74.05116825770746], 4);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map1);
       
        var map2 = L.map('map2').setView([4.683709901063048, -74.05116825770746], 4);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map2);
        
        var map3 = L.map('map3').setView([4.683709901063048, -74.05116825770746], 4);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map3);
        
         // https://docs.eegeo.com/eegeo.js/v0.1.780/docs/leaflet/L.FeatureGroup/
        var layerGroup1 = L.featureGroup()
        var layerGroup2 = L.featureGroup()
        var layerGroup3 = L.featureGroup()
        
        map1.addLayer(layerGroup1);
        map2.addLayer(layerGroup2);
        map3.addLayer(layerGroup3);

        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

        function updateGraph_1() {
            // console.log("updateGraph_1");
            layerGroup1.clearLayers();

            $.getJSON(polyData, function (data) {
                var filtered_data = data
                if (selection_departamento_1.value != 'todos') {
                    filtered_data = data['features'].filter(filtroDepartamental_1);
                }
                console.log('filtered_data_1:', filtered_data);

                var shape_data_1 = L.geoJson(filtered_data, {style: polystyle});
                shape_data_1.addTo(layerGroup1)

                map1.flyToBounds(shape_data_1.getBounds());
            });
        }

        function updateGraph_2() {
            // console.log("updateGraph_2");
            layerGroup2.clearLayers();

            $.getJSON(polyData, function (data) {
                var filtered_data = data
                if (selection_departamento_2.value != 'todos') {
                    filtered_data = data['features'].filter(filtroDepartamental_2);
                }
                console.log('filtered_data_2:', filtered_data);

                var shape_data_2 = L.geoJson(filtered_data, {style: polystyle});
                shape_data_2.addTo(layerGroup2)

                map2.flyToBounds(shape_data_2.getBounds());
            });
        }

        function updateGraph_3() {
            // console.log("updateGraph_2");
            layerGroup3.clearLayers();

            $.getJSON(polyData, function (data) {
                var filtered_data = data
                if (selection_departamento_3.value != 'todos') {
                    filtered_data = data['features'].filter(filtroDepartamental_3);
                }
                console.log('filtered_data_3:', filtered_data);

                var shape_data_3 = L.geoJson(filtered_data, {style: polystyle});
                shape_data_3.addTo(layerGroup3)

                map3.flyToBounds(shape_data_3.getBounds());
            });
        }

        updateGraph_1();
        updateGraph_2();
        updateGraph_3();
    </script>

    <script>
        data = [
            {
                type: 'scatterpolar',
                r: [39, 28, 8, 7, 28, 39],
                theta: ['A','B','C', 'D', 'E', 'A'],
                fill: 'toself'
            }
        ]
          
        layout = {
            polar: {
                radialaxis: {
                    visible: true,
                    range: [0, 50]
                }
            },
            showlegend: false
        }
          
        Plotly.newPlot("radar1", data, layout)
    </script>

    <script>
        data = [
            {
                type: 'scatterpolar',
                r: [39, 28, 8, 7, 28, 39],
                theta: ['A','B','C', 'D', 'E', 'A'],
                fill: 'toself',
                name: 'Group A'
            },
            {
                type: 'scatterpolar',
                r: [1.5, 10, 39, 31, 15, 1.5],
                theta: ['A','B','C', 'D', 'E', 'A'],
                fill: 'toself',
                name: 'Group B'
            }
        ]
            
        layout = {
            polar: {
                radialaxis: {
                    visible: true,
                    range: [0, 50]
                }
            }
        }
            
        Plotly.newPlot("radar2", data, layout)
    </script>

    <script>
        // Actualización de dropdownlist
        // https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html
        
        function update_indicador_dropdownlist(dimension_dropdown_id, indicador_dropdown_id) {            
            // var url = $(dimension_dropdown_id).attr("data-indicadores-url");
            var url = "{% url 'baseApp:ajax_load_indicadores' %}";
            var dimensionId = $(dimension_dropdown_id).val();

            if (dimensionId == 'personalizado') {
                $(indicador_dropdown_id).html('<option value="">----------</option>');
            } else {
                $.ajax({
                    url: url,
                    data: { 'dimensionId': dimensionId },
                    success: function (data) {
                        $(indicador_dropdown_id).html(data);
                    }
                });
            }
        }

        $("#selection_dimension_1").change(function () { update_indicador_dropdownlist("#selection_dimension_1", "#selection_indicador_1"); });
        $("#selection_dimension_2").change(function () { update_indicador_dropdownlist("#selection_dimension_2", "#selection_indicador_2"); });
        $("#selection_dimension_3").change(function () { update_indicador_dropdownlist("#selection_dimension_3", "#selection_indicador_3"); });
        $("#selection_dimension_5").change(function () { update_indicador_dropdownlist("#selection_dimension_5", "#selection_indicador_5"); });

        update_indicador_dropdownlist("#selection_dimension_1", "#selection_indicador_1");
        update_indicador_dropdownlist("#selection_dimension_2", "#selection_indicador_2");
        update_indicador_dropdownlist("#selection_dimension_3", "#selection_indicador_3");
        update_indicador_dropdownlist("#selection_dimension_5", "#selection_indicador_5");
    </script>

    <script src="{% static 'js/virtual-select.min.js' %}"></script>
    <script>
        VirtualSelect.init({ 
            ele: '#multipleSelect'
        });

        document.getElementById('multipleSelect').addEventListener('change', function() {
            indicadorPersonalizado();
          });
    </script>

{% endblock %}