<!-- templates/departamental.html -->
{% extends 'base.html' %}
{% load static %}
{% block referencia %}departamental.html{% endblock %}
{% block title_1 %}Departamental{% endblock %}
{% block title_2 %}Departamental{% endblock %}

{% block content %}
    <p>{{ mensaje }}</p>
    <div class="row">
        <div class="col-md-2" style="margin-top: 25px">
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="compareCheck" onclick="Show_Hide_Sections()">
                    <label class="form-check-label" for="compareCheck">Comparar</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden" id="selection_tipo_grafico_group">
            <div class="form-group">
                <label class="d-inline-block" for="selection_tipo_grafico">Tipo de gráfico</label>
                <select class="form-select form-select-sm d-inline-block" aria-label="Default select example" id="selection_tipo_grafico" onclick="Show_Hide_Sections()">
                    <option value="map">Mapa</option>
                    <option value="radar">Radar</option>
                </select>
            </div>
        </div>
    </div>

    <hr>

    <!-- Presentar - Mapa -->
    <div id="section1">
        <div class="row">
            <p style="color:red;">section1</p>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_departamento_1">Departamento</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_departamento_1">
                        <option value="todos">Todos</option>
                        {% for dep in departamentos %}
                            <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_dimension_1">Dimensión</label>
                    <!-- <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_1" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}"> -->
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_1">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_indicador_1">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_1" name="selection_indicador_1" onChange="indicador_change()">
                        <option value="default">default</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:16px;">
            <div class="col-md-6">
                <div>
                    map1
                    <div id="map1" style="height: 480px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    radar - presentar
                    <div id="radar1" style="height: 480px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="section2"></div> <!-- Borrar -->
    <div id="section3"></div> <!-- Borrar -->

    <!-- Comparar - Mapa -->
    {% comment %}
    <div id="section2">
        <div class="row">
            <p style="color:red;">section2</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selection_departamento_2">Departamento</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_departamento_2">
                        <option value="todos">Todos</option>
                        {% for dep in departamentos %}
                            <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_dimension_2">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_2" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_indicador_2">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_2">
                        <!-- <option value="0">pruebas</option> -->
                        {% for indicador in indicadores_first %}
                            <option value="{{indicador.pk}}">{{indicador.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="margin-top:16px;">
                    map2
                    <div id="map2" style="height: 480px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selection_departamento_3">Departamento</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_departamento_3">
                        <option value="todos">Todos</option>
                        {% for dep in departamentos %}
                            <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_dimension_3">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_3" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_indicador_3">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_3">
                        <!-- <option value="0">pruebas</option> -->
                        {% for indicador in indicadores_first %}
                            <option value="{{indicador.pk}}">{{indicador.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="margin-top:16px;">
                    map3
                    <div id="map3" style="height: 480px;"></div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}


    <!-- Comparar - Radar -->
    {% comment %}
    <div id="section3">
        <div class="row">
            <p style="color:red;">section3</p>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_departamento_5">Departamento</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_departamento_5">
                        <option value="todos">Todos</option>
                        {% for dep in departamentos %}
                            <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_dimension_5">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_5" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}" onchange="indicadorPersonalizado()">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                        <option value="personalizado">Personalizado</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="selection_indicador_5">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_5">
                        <option value="0">pruebas</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="section4">
            <div class="row mt-1">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="selection_dimension_1">Indicadores</label>
                        <div>
                            <select id="multipleSelect" multiple name="native-select" placeholder="Indicadores" data-search="true" data-silent-initial-value-set="true">
                                {% for item in indicadores %}
                                    <option value="{{ item.pk }}">({{ item.dimension}}) {{ item.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:16px;">
            <div class="col-md-12">
                <div>
                    radar - presentar
                    <div id="radar2" style="height: 480px;"></div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

    <!-- update_indicador_dropdownlist -->
    <script>
        function update_indicador_dropdownlist(dimension_dropdown_id, indicador_dropdown_id) {
            // console.log('++ update_indicador_dropdownlist')
            var dimensionId = $(dimension_dropdown_id).val();

            if (dimensionId == 'personalizado') {
                $(indicador_dropdown_id).html('<option value="">----------</option>');
            } else {
                $.ajax({
                    url: "{% url 'baseApp:ajax_load_indicadores' %}",
                    data: { 'dimensionId': dimensionId },
                    success: function (data) {
                        $(indicador_dropdown_id).empty();
                        $(indicador_dropdown_id).html(data);
                        $(indicador_dropdown_id).trigger("change");
                    }
                });
            }
        }
    </script>


    <!-- filtroDepartamental -->
    <script>        
        function filtroDepartamental({selection}) {
            return function filter(item) {
                if (selection == 1) {
                    var temp = item                    
                    temp['properties'].INDICADOR = 5
                    return temp['properties'].DPTO_CCDGO == selection_departamento_1.value;
                } else if (selection == 2) {
                    return item['properties'].DPTO_CCDGO == selection_departamento_2.value;
                } else if (selection == 3) {
                    return item['properties'].DPTO_CCDGO == selection_departamento_3.value;
                } else {
                    console.log('Error - filtroDepartamental')
                }
            };
        }

        // function filtroDepartamental_1(elemento) {
        //     return elemento['properties'].DPTO_CCDGO == selection_departamento_1.value;
        // }
        // function filtroDepartamental_2(elemento) {
        //     return elemento['properties'].DPTO_CCDGO == selection_departamento_2.value;
        // }
        // function filtroDepartamental_3(elemento) {
        //     return elemento['properties'].DPTO_CCDGO == selection_departamento_3.value;
        // }
    </script>


    <!-- get_indicadores_data_municipal -->
    <script>
        function get_indicadores_data_municipal_map(departamento, dimension, indicador) {
            console.log("-- get_indicadores_data_municipal_map");
            $.ajax({
                url: '{% url "baseApp:ajax_get_indicadores_data_municipal_map" %}',
                data: {
                    'departamento': departamento,
                    'dimension': dimension,
                    'indicador': indicador
                },
                dataType: 'json',

                success: function (data) {
                    // var latitud = JSON.parse(data.latitud);
                    // var longitud = JSON.parse(data.longitud);
                    // var radio = JSON.parse(data.radio);
                    // var color = JSON.parse(JSON.stringify(data.color));
                    // var circle = L.circle([latitud, longitud], {
                    //     color: color,
                    //     fillColor: color,
                    //     fillOpacity: 0.5,
                    //     radius: radio
                    // }).addTo(map);

                    console.log('-------------------------');
                    console.log('filtered_data:', data);
                    console.log('-------------------------');
                },

                error: function (res) {
                    console.log(res.responseText);
                }
            });
        }
    </script>


    <!-- get_dimensiones_data_departamental_radar -->
    <script>
        function get_dimensiones_data_departamental_radar(departamento, dimension) {
            console.log("-- get_dimensiones_data_departamental_radar");
            $.ajax({
                url: '{% url "baseApp:ajax_get_dimensiones_data_departamental_radar" %}',
                data: {
                    'departamento': departamento,
                    'dimension': dimension,
                },
                dataType: 'json',

                success: function (data) {
                    // var latitud = JSON.parse(data.latitud);
                    // var longitud = JSON.parse(data.longitud);
                    // var radio = JSON.parse(data.radio);
                    // var color = JSON.parse(JSON.stringify(data.color));
                    // var circle = L.circle([latitud, longitud], {
                    //     color: color,
                    //     fillColor: color,
                    //     fillOpacity: 0.5,
                    //     radius: radio
                    // }).addTo(map);

                    updateRadar('radar1', data.headers, data.values);
                    
                    // console.log('-------------------------');
                    // console.log('radar_data:', data);
                    // console.log('headers:', data.headers);
                    // console.log('values:', data.values);                    
                    // console.log('-------------------------');
                    
                },

                error: function (res) {
                    console.log(res.responseText);
                }
            });
        }
    </script>


    <!-- variables mapas -->
    <script>
        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        // ::: Variables y funciones generales mapas

        // https://leafletjs.com/examples/choropleth/

        function getColor(d) {
            var d = parseInt(d);
            return d > 900 ? '#1f77b4' :
                   d > 800 ? '#ff7f0e' :
                   d > 700 ? '#2ca02c' :
                   d > 600 ? '#d62728' :
                   d > 500 ? '#9467bd' :
                   d > 400 ? '#8c564b' :
                   d > 300 ? '#e377c2' :
                   d > 200 ? '#7f7f7f' :
                   d > 100 ? '#bcbd22' :
                              '#17becf';
        }
        function polystyle(feature) {
            return {
                fillColor: getColor(feature.properties.MPIO_CCDGO),
                weight: 0.8,
                opacity: 1,
                color: 'white',
                fillOpacity: 0.7
            };
        }
        
        var polyData = "{% static 'json/MunicipiosVeredas_2MB.json' %}"
        // https://leafletjs.com/reference.html
    </script>


    <!-- Carga mapa 1 y updateMap_1() -->
    <script>
        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        // ::: Carga mapa 1

        var map1 = L.map('map1').setView([4.683709901063048, -74.05116825770746], 4);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map1);

        // https://docs.eegeo.com/eegeo.js/v0.1.780/docs/leaflet/L.FeatureGroup/
        var layerGroup1 = L.featureGroup()
        map1.addLayer(layerGroup1);
        
        function updateMap_1() {
            console.log("-- updateMap_1");

            // get_indicadores_data_municipal(selection_departamento_1.value, selection_dimension_1.value, selection_indicador_1.value)
            
            layerGroup1.clearLayers();
            $.getJSON(polyData, function (data) {
                var filtered_data = data
                if (selection_departamento_1.value != 'todos') {
                    filtered_data = data['features'].filter(filtroDepartamental({selection: 1}));
                }
                console.log('filtered_data:', filtered_data);
                // MPIO_CCDGO

                var shape_data_1 = L.geoJson(filtered_data, {style: polystyle});
                shape_data_1.addTo(layerGroup1)

                map1.flyToBounds(shape_data_1.getBounds());
            });
        }
        updateMap_1();
    </script>


    <!-- Carga mapa 2 y updateGraph_2() -->
    {% comment %}
    <script>
        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        // ::: Carga mapa 2

        var map2 = L.map('map2').setView([4.683709901063048, -74.05116825770746], 4);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map2);

        var layerGroup2 = L.featureGroup()
        map2.addLayer(layerGroup2);

        function updateGraph_2() {
            // console.log("updateGraph_2");
            layerGroup2.clearLayers();

            $.getJSON(polyData, function (data) {
                var filtered_data = data
                if (selection_departamento_2.value != 'todos') {
                    filtered_data = data['features'].filter(filtroDepartamental_2);
                }
                // console.log('filtered_shapes_2:', filtered_data);

                var shape_data_2 = L.geoJson(filtered_data, {style: polystyle});
                shape_data_2.addTo(layerGroup2)

                map2.flyToBounds(shape_data_2.getBounds());
            });
        }
        updateGraph_2();
    </script>
    {% endcomment %}
    
    <!-- Carga mapa 3 y updateGraph_3() -->
    {% comment %}
    <script>
        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        // ::: Carga mapa 3

        var map3 = L.map('map3').setView([4.683709901063048, -74.05116825770746], 4);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(map3);
        
        var layerGroup3 = L.featureGroup()
        map3.addLayer(layerGroup3);

        function updateGraph_3() {
            // console.log("updateGraph_3");
            layerGroup3.clearLayers();

            $.getJSON(polyData, function (data) {
                var filtered_data = data
                if (selection_departamento_3.value != 'todos') {
                    filtered_data = data['features'].filter(filtroDepartamental_3);
                }
                // console.log('filtered_shapes_3:', filtered_data);

                var shape_data_3 = L.geoJson(filtered_data, {style: polystyle});
                shape_data_3.addTo(layerGroup3)

                map3.flyToBounds(shape_data_3.getBounds());
            });
        }
        updateGraph_3();
    </script>
    {% endcomment %}

    {% comment %} <script>
        $("#selection_dimension_2").change(function () { update_indicador_dropdownlist("#selection_dimension_2", "#selection_indicador_2"); });
        $("#selection_dimension_3").change(function () { update_indicador_dropdownlist("#selection_dimension_3", "#selection_indicador_3"); });
        $("#selection_dimension_5").change(function () { update_indicador_dropdownlist("#selection_dimension_5", "#selection_indicador_5"); });

        update_indicador_dropdownlist("#selection_dimension_2", "#selection_indicador_2");
        update_indicador_dropdownlist("#selection_dimension_3", "#selection_indicador_3");
        update_indicador_dropdownlist("#selection_dimension_5", "#selection_indicador_5");
    </script> {% endcomment %}
    
    <script>
        function updateRadar(graph, headers, values) {
            Plotly.restyle(graph, 'theta', [headers]);
            Plotly.restyle(graph, 'r', [values]);
        }
    </script>

    <!-- Plotly radar1 -->
    <script>
        data = [{
            type: 'scatterpolar',
            r: [0], theta: [''], fill: 'toself'
        }]
          
        layout = {
            polar: {
                radialaxis: {
                    visible: true,
                    range: [0, 100]
                }
            },
            showlegend: false
        }
          
        Plotly.newPlot("radar1", data, layout)        
    </script>


    <!-- Plotly radar2 -->
    {% comment %}
    <script>
        data = [
            {
                type: 'scatterpolar',
                r: [39, 28, 8, 7, 28, 39],
                theta: ['A','B','C', 'D', 'E', 'A'],
                fill: 'toself',
                name: 'Group A'
            },
            {
                type: 'scatterpolar',
                r: [1.5, 10, 39, 31, 15, 1.5],
                theta: ['A','B','C', 'D', 'E', 'A'],
                fill: 'toself',
                name: 'Group B'
            }
        ]
            
        layout = {
            polar: {
                radialaxis: {
                    visible: true,
                    range: [0, 50]
                }
            }
        }
            
        Plotly.newPlot("radar2", data, layout)
    </script>
    {% endcomment %}


    <!-- multiselect -->
    {% comment %}
    <script src="{% static 'js/virtual-select.min.js' %}"></script>
    <script>
        var selection = [];
        // lectura de indicadores en formato json para el multiselect
        var indicadores_json = JSON.parse('{{ indicadores_json | safe }}')

        function filtroMultiselect(elemento) { 
            return selection.includes(elemento.pk.toString());
        }
        
        function indicadorPersonalizado() {
            // console.log('function indicadorPersonalizado()');
            var dimension = document.getElementById('selection_dimension_5');
            var dimension_value = dimension.options[dimension.selectedIndex].value;
                
            selection = $('#multipleSelect').val();
            var data_multiselect = indicadores_json.filter(filtroMultiselect)

            var selection__ind_pk = [];
            var selection__ind_name = [];
            for(var i=0; i < data_multiselect.length; i++){
               selection__ind_pk.push(data_multiselect[i].pk);
               selection__ind_name.push(data_multiselect[i]['fields'].nombre);               
            }

            // console.log('-----')
            // console.log('selection:', selection)
            // console.log('data_multiselect:', data_multiselect)
            // console.log('selection__ind_pk:', selection__ind_pk)
            // console.log('selection__ind_name:', selection__ind_name)
            
            var nueva_selection_indicador = document.getElementById("section4");
            section4.classList.remove("visible");
            section4.classList.add("hidden");

            if (dimension_value == 'personalizado') {
                document.getElementById("selection_indicador_5").disabled = true;
                section4.classList.remove("hidden");
                section4.classList.add("visible");
            } else {
                document.getElementById("selection_indicador_5").disabled = false;
            }
            
        };

        VirtualSelect.init({ 
            ele: '#multipleSelect'
        });

        document.getElementById('multipleSelect').addEventListener('change', function() {
            indicadorPersonalizado();
        });

        indicadorPersonalizado()
    </script>
    {% endcomment %}


    <!-- Show_Hide_Sections -->
    <script>
        function Show_Hide_Sections() {
            var section1 = document.getElementById("section1"); // Presentar - Mapa
            var section2 = document.getElementById("section2"); // Comparar  - Mapa            
            var section3 = document.getElementById("section3"); // Comparar  - Radar

            var tipo_grafico = document.getElementById('selection_tipo_grafico');
            var tipo_grafico_value = tipo_grafico.options[tipo_grafico.selectedIndex].value;
            
            var selection_tipo_grafico_group = document.getElementById('selection_tipo_grafico_group');
            
            var compareCheck = document.getElementById('compareCheck');
            var compareCheck_value = compareCheck.checked;

            if (compareCheck_value) {
                selection_tipo_grafico_group.classList.add("visible");
                selection_tipo_grafico_group.classList.remove("hidden");
            } else {
                selection_tipo_grafico_group.classList.add("hidden");
                selection_tipo_grafico_group.classList.remove("visible");
            }

            section1.classList.remove("visible");
            section2.classList.remove("visible");            
            section3.classList.remove("visible");

            section1.classList.add("hidden");
            section2.classList.add("hidden");            
            section3.classList.add("hidden");

            if (compareCheck_value == false) {
                // console.log('Map - show')
                section1.classList.add("visible");
                section1.classList.remove("hidden");                
            } else {

                if (tipo_grafico_value == 'map') {
                    // console.log('Map - compare')
                    section2.classList.add("visible");
                    section2.classList.remove("hidden");                
                } else if (tipo_grafico_value == 'radar') {
                    // console.log('Radar - compare')
                    section3.classList.add("visible");
                    section3.classList.remove("hidden");                
                }
            }            
        };
        Show_Hide_Sections();
    </script>


    <!-- EventListener -->
    <script>
        function updateGraphs() {
            // console.log('-- updateGraphs --------')
            var dep1 = document.getElementById("selection_departamento_1");
            var dep1_value = dep1.value;
            var dep1_text = dep1.options[dep1.selectedIndex].text;

            var dim1 = document.getElementById("selection_dimension_1");
            var dim1_value = dim1.value;
            var dim1_text = dim1.options[dim1.selectedIndex].text;

            var ind1 = document.getElementById("selection_indicador_1");
            var ind1_value = ind1.value;
            var ind1_text = ind1.options[ind1.selectedIndex].text;

            console.log(dep1_text, ' - ', dim1_text, ' - ', ind1_text);
            updateMap_1();

            // get_indicadores_data_municipal_map(dep1_value, dim1_value, ind1_value);
            get_dimensiones_data_departamental_radar(dep1_value, dim1_value)
        }

        function departamento_change() {
            // console.log('-- dpto change --------');
            updateGraphs();
        }
        
        function dimension_change() {
            // console.log('-- dim change ---------');
            update_indicador_dropdownlist("#selection_dimension_1", "#selection_indicador_1");
            // updateGraphs();
        }

        function indicador_change() {
            // console.log('-- indi change --------');
            updateGraphs();
        }

        document.getElementById('selection_departamento_1').addEventListener('change', function() { departamento_change(); });
        document.getElementById('selection_dimension_1').addEventListener('change', function() { dimension_change(); });
        
        update_indicador_dropdownlist("#selection_dimension_1", "#selection_indicador_1");
    </script>

{% endblock %}