<!-- templates/municipal.html -->
{% extends 'base.html' %}
{% load static %}
{% block referencia %}municipal.html{% endblock %}
{% block title_1 %}Municipal{% endblock %}
{% block title_2 %}Municipal{% endblock %}

{% block content %}
    <p>{{ mensaje }}</p>    
    
    <!-- Presentar - Mapa -->
    <div id="section1">
        <div class="row">
            <p style="color:red;">section1</p>            
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selection_departamento_1">Departamento</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_departamento_1" onchange="updateGraph()">
                        {% comment %} <option value="0" selected>Todos</option> {% endcomment %}
                        <option value="todos" selected>Todos</option>
                        {% for dep in departamentos %}
                            <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selection_municipio_1">Municipio</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_municipio_1" onchange="updateGraph()">
                        {% comment %} <option value="0" selected>Todos</option> {% endcomment %}
                        <option value="todos" selected>Todos</option>
                        {% for municipio in municipios %}
                            <option value="{{municipio.divipola}}">{{municipio.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selection_dimension_1">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_1" onchange="updateGraph()">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selection_indicador_1">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_1" onchange="updateGraph()">
                        <option value="0" selected>pruebas</option>
                    </select>
                </div>
            </div>
        </div>        
    </div>
        
    <script>
        function updateGraph() {
            console.log('updateGraph');
        };
    </script>

    <script>
        // Actualización de dropdownlist
        // https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html

        function update_indicador_dropdownlist(dimension_dropdown_id, indicador_dropdown_id) {            
            // var url = $(dimension_dropdown_id).attr("data-indicadores-url");
            var url = "{% url 'baseApp:ajax_load_indicadores' %}";
            var dimensionId = $(dimension_dropdown_id).val();

            if (dimensionId == 'personalizado') {
                $(indicador_dropdown_id).html('<option value="">----------</option>');
            } else {
                $.ajax({
                    url: url,
                    data: { 'dimensionId': dimensionId },
                    success: function (data) {
                        $(indicador_dropdown_id).html(data);
                    }
                });
            }
        }

        $("#selection_dimension_1").change(function () { update_indicador_dropdownlist("#selection_dimension_1", "#selection_indicador_1"); });        
        
        update_indicador_dropdownlist("#selection_dimension_1", "#selection_indicador_1");        
    </script>

    <script>
        // Actualización de dropdownlist
        // https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html

        function update_municipio_dropdownlist(dimension_dropdown_id, indicador_dropdown_id) {            
            console.log('update_municipio_dropdownlist');

            // var url = $(dimension_dropdown_id).attr("data-indicadores-url");
            var url = "{% url 'baseApp:ajax_load_municipios' %}";
            var departamentoId = $(dimension_dropdown_id).val();
            
            if (departamentoId == 'todos') {
                $(indicador_dropdown_id).html('<option value="">----------</option>');
            } else {
                $.ajax({
                    url: url,
                    data: { 'departamentoId': departamentoId },
                    success: function (data) {
                        $(indicador_dropdown_id).html(data);
                    }
                });
            }            
        }

        $("#selection_departamento_1").change(function () { update_municipio_dropdownlist("#selection_departamento_1", "#selection_municipio_1"); });        

        update_municipio_dropdownlist("#selection_departamento_1", "#selection_municipio_1");
    </script>

{% endblock %}