<!-- templates/municipal.html -->
{% extends 'base.html' %}
{% load static %}
{% block referencia %}municipal.html{% endblock %}
{% block title_1 %}Indicadores{% endblock %}
{% block title_2 %}Indicadores{% endblock %}

{% block content %}
    {% comment %} <p>{{ mensaje }}</p> {% endcomment %}
    <div class="row">
        {% comment %} <div class="col-md-2" style="margin-top: 25px"> {% endcomment %}
        <div class="col-md-2">
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="compareCheck" onclick="Show_Hide_Sections()">
                    <label class="form-check-label" for="compareCheck">Comparar</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden" id="selection_tipo_grafico_group">
            <div class="form-group">
                <label class="d-inline-block" for="selection_tipo_grafico">Tipo de gráfico</label>
                <select class="form-select form-select-sm d-inline-block" aria-label="Default select example" id="selection_tipo_grafico" onclick="Show_Hide_Sections()">
                    <option value="map">Mapa</option>
                    <option value="radar">Radar</option>
                </select>
            </div>
        </div>
    </div>

    <hr>

    <!-- Presentar - Mapa -->
    <div id="section1">
        <div class="row">
            {% comment %} <p style="color:red;">section1</p> {% endcomment %}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selection_departamento_1">Departamento</label>
                    <select class="form-select form-select-sm" aria-label="Default select example" id="selection_departamento_1">
                        {% for dep in departamentos %}
                            {% if dep.divipola == '00' %}
                                <option value="{{dep.divipola}}" selected>{{dep.nombre}}</option>
                            {% else %}
                                <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selection_dimension_1">Dimensión</label>
                    <!-- <select class="form-select form-select-sm" aria-label="Default select example" id="selection_dimension_1" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}"> -->
                    <select class="form-select form-select-sm" aria-label="Default select example" id="selection_dimension_1">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:16px;">
            <div class="col-md-12">
                <div class="p-3 mb-3" style="border: 1px solid #c2c3c4;">
                    {% comment %} map1 {% endcomment %}
                    <div class="form-group mb-3">
                        <label for="selection_indicador_1">Indicador</label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="selection_indicador_1" name="selection_indicador_1" onChange="indicador_change(1)">
                            <option value="default">default</option>
                        </select>
                    </div>
                    <div id="map1" style="height: 480px;"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="p-3 mb-3" style="border: 1px solid #c2c3c4;">
                    {% comment %} radar - presentar {% endcomment %}
                    <div class="form-group mb-3">
                        <label for="selection_indicador_1">Tipo de indicadores</label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="selection_tipo_indicador_1" name="selection_tipo_indicador_1" onChange="indicador_change(1)">
                            <option value="porcentual">Porcentuales</option>
                            <option value="numerico">Numéricos</option>
                        </select>
                    </div>
                    <div style="width:inherit; height: 480px;">
                        <div id="radar1" style="width:100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comparar - Mapa -->    
    <div id="section2">
        <div class="row">
            {% comment %} <p style="color:red;">section2</p> {% endcomment %}
            <div class="col-md-6">
                <div class="p-3 mb-3" style="border: 1px solid #c2c3c4;">
                    <div class="form-group">
                        <label for="selection_departamento_2">Departamento</label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="selection_departamento_2">
                            {% for dep in departamentos %}
                                {% if dep.divipola == '00' %}
                                    <option value="{{dep.divipola}}" selected>{{dep.nombre}}</option>
                                {% else %}
                                    <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                                {% endif %}
                            {% endfor %}                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selection_dimension_2">Dimensión</label>
                        {% comment %} <select class="form-select form-select-sm" aria-label="Default select example" id="selection_dimension_2" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}"> {% endcomment %}
                        <select class="form-select form-select-sm" aria-label="Default select example" id="selection_dimension_2">
                            {% for dimension in dimensiones %}
                                <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selection_indicador_2">Indicador</label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="selection_indicador_2" name="selection_indicador_2" onChange="indicador_change(2)">
                            <!-- <option value="0">pruebas</option> -->
                            {% for indicador in indicadores_first %}
                                <option value="{{indicador.pk}}">{{indicador.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin-top:16px;">
                        {% comment %} map2 {% endcomment %}
                        <div id="map2" style="height: 480px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 mb-3" style="border: 1px solid #c2c3c4;">
                    <div class="form-group">
                        <label for="selection_departamento_3">Departamento</label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="selection_departamento_3">
                            {% for dep in departamentos %}
                                {% if dep.divipola == '00' %}
                                    <option value="{{dep.divipola}}" selected>{{dep.nombre}}</option>
                                {% else %}
                                    <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selection_dimension_3">Dimensión</label>
                        {% comment %} <select class="form-select form-select-sm" aria-label="Default select example" id="selection_dimension_3" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}"> {% endcomment %}
                        <select class="form-select form-select-sm" aria-label="Default select example" id="selection_dimension_3">
                            {% for dimension in dimensiones %}
                                <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selection_indicador_3">Indicador</label>
                        <select class="form-select form-select-sm" aria-label="Default select example" id="selection_indicador_3" name="selection_indicador_3" onChange="indicador_change(3)">
                            <!-- <option value="0">pruebas</option> -->
                            {% for indicador in indicadores_first %}
                                <option value="{{indicador.pk}}">{{indicador.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="margin-top:16px;">
                        {% comment %} map3 {% endcomment %}
                        <div id="map3" style="height: 480px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comparar - Radar -->
    <div id="section3">
        <div class="row">
            {% comment %} <p style="color:red;">section3</p> {% endcomment %}
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selection_departamento_4_1">Departamento 1</label>
                    <select class="form-select form-select-sm" aria-label="Default select example" id="selection_departamento_4_1">
                        {% for dep in departamentos %}
                            {% if dep.divipola == '00' %}
                                <option value="{{dep.divipola}}" selected>{{dep.nombre}}</option>
                            {% else %}
                                <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selection_departamento_4_2">Departamento 2</label>
                    <select class="form-select form-select-sm" aria-label="Default select example" id="selection_departamento_4_2">
                        {% for dep in departamentos %}
                            {% if dep.divipola == '00' %}
                                <option value="{{dep.divipola}}" selected>{{dep.nombre}}</option>
                            {% else %}
                                <option value="{{dep.divipola}}">{{dep.nombre}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selection_dimension_4">Dimensión</label>
                    {% comment %} <select class="form-select form-select-sm" aria-label="Default select example" id="selection_dimension_4" data-indicadores-url="{% url 'baseApp:ajax_load_indicadores' %}" onchange="indicadorPersonalizado()"> {% endcomment %}
                    <select class="form-select form-select-sm" aria-label="Default select example" id="selection_dimension_4">
                        {% for dimension in dimensiones %}
                            <option value="{{dimension.pk}}">{{dimension.nombre}}</option>
                        {% endfor %}
                        {% comment %} NOTE: agregar esta opción{% endcomment %}
                        {% comment %} <option value="personalizado">Personalizado</option> {% endcomment %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-3">
                    <label for="selection_indicador_4">Tipo de indicadores</label>
                    <select class="form-select form-select-sm" aria-label="Default select example" id="selection_tipo_indicador_4" name="selection_tipo_indicador_4" onChange="indicador_change(4)">
                        <option value="porcentual">Porcentuales</option>
                        <option value="numerico">Numéricos</option>
                    </select>
                </div>
            </div>
            {% comment %} FIXME: tiene clase hidden{% endcomment %}
            <div class="col-md-4">
                <div class="form-group hidden"> 
                    <label for="selection_indicador_4">Indicador</label>
                    <select class="form-select form-select-sm" aria-label="Default select example" id="selection_indicador_4" name="selection_indicador_4" onChange="indicador_change(4)">
                        <option value="0">pruebas</option>
                    </select>
                </div>
            </div>
            {% comment %} FIXME: tiene clase hidden{% endcomment %}

        </div>

        <div id="section4">
            <div class="row mt-1">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="multipleSelect">Indicadores</label>
                        <div>
                            <select id="multipleSelect" multiple name="native-select" placeholder="Indicadores" data-search="true" data-silent-initial-value-set="true">
                                {% for item in indicadores %}
                                    <option value="{{ item.pk }}">({{ item.dimension}}) {{ item.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:16px;">
            <div class="col-md-12">
                <div style="width:inherit; height: 480px; border: 1px solid #c2c3c4;">
                    {% comment %} radar - presentar {% endcomment %}
                    <div id="radar2" style="width:100%"></div>
                </div>
            </div>
        </div>        
    </div>

    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <script src="{% static 'js/municipal_func_iniciales.js' %}"></script>
    <script src="{% static 'js/municipal_radar.js' %}"></script>
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

    <!-- update_indicador_dropdownlist -->
    <script>
        function update_indicador_dropdownlist(dimension_dropdown_id, indicador_dropdown_id) {
            // console.log('++ update_indicador_dropdownlist')
            var dimensionId = $(dimension_dropdown_id).val();

            if (dimensionId == 'personalizado') {
                $(indicador_dropdown_id).html('<option value="">----------</option>');
            } else {
                $.ajax({
                    url: "{% url 'baseApp:ajax_load_indicadores' %}",
                    data: { 'dimensionId': dimensionId },
                    success: function (data) {
                        $(indicador_dropdown_id).empty();
                        $(indicador_dropdown_id).html(data);
                        $(indicador_dropdown_id).trigger("change");
                    }
                });
            }
        }
    </script>

    <!-- get_indicadores_data_municipal -->
    <script>
        function get_indicadores_data_municipal_map(filtered_data, departamento, dimension, indicador) {
            // console.log("-- get_indicadores_data_municipal_map");
            var results;

            $.ajax({
                url: '{% url "baseApp:ajax_get_indicadores_data_municipal_map" %}',
                async: false,
                data: {
                    'departamento': departamento,
                    'dimension': dimension,
                    'indicador': indicador
                },
                dataType: 'json',

                success: function (data) {
                    const merged = filtered_data.map(location => {
                        const divipola = location.properties.MPIO_CCNCT;
                        const otherRecord = data.filter_records.find(({divipola_municipio: candidateDivipola}) => candidateDivipola == divipola);
                        return otherRecord ? {...location, ...otherRecord} : location;
                    });
                    results = merged;
                },
                error: function (res) {
                    console.log('Error - get_indicadores_data_municipal_map: ', res.responseText);
                }
            });
            return results;
        }
    </script>

    <!-- get_dimensiones_data_departamental_radar -->
    <script>
        function get_dimensiones_data_departamental_radar_1(departamento, dimension, es_porcentual) {
            // console.log("-- get_dimensiones_data_departamental_radar");
            $.ajax({
                url: '{% url "baseApp:ajax_get_dimensiones_data_departamental_radar_1" %}',
                data: {
                    'departamento': departamento,
                    'dimension': dimension,
                    'es_porcentual':es_porcentual,
                },
                dataType: 'json',

                success: function (data) {                    
                    updateRadar('radar1', data.headers, data.values);
                    
                    // console.log('-------------------------');
                    // console.log('radar_data:', data);
                    // console.log('headers:', data.headers);
                    // console.log('values:', data.values);
                    // console.log('-------------------------');
                },
                error: function (res) {
                    console.log(res.responseText);
                }
            });
        }
    </script>

    <script>
        function get_dimensiones_data_departamental_radar_2(departamento_1, departamento_2, dimension, es_porcentual) {
            // console.log("-- get_dimensiones_data_departamental_radar");
            // console.log(departamento_1, ' - ', departamento_2, ' - ', dimension, ' - ', es_porcentual)
            $.ajax({
                url: '{% url "baseApp:ajax_get_dimensiones_data_departamental_radar_2" %}',
                data: {
                    'departamento_1': departamento_1,
                    'departamento_2': departamento_2,
                    'dimension': dimension,
                    'es_porcentual':es_porcentual,
                },
                dataType: 'json',

                success: function (data) {                    
                    updateRadar2('radar2', data.headers_1, data.values_1, data.name_1, data.headers_2, data.values_2, data.name_2);
                    
                    // console.log('-------------------------');
                    // console.log('radar_data:', data);
                    // console.log('headers:', data.headers);
                    // console.log('values:', data.values);
                    // console.log('-------------------------');
                },
                error: function (res) {
                    console.log(res.responseText);
                }
            });
        }
    </script>

    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <script>
        var polyData = "{% static 'json/MunicipiosVeredas_2MB.json' %}"
    </script>
    <script src="{% static 'js/municipal_mapas.js' %}"></script>
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

    {% comment %} <script>
        $("#selection_dimension_2").change(function () { update_indicador_dropdownlist("#selection_dimension_2", "#selection_indicador_2"); });
        $("#selection_dimension_3").change(function () { update_indicador_dropdownlist("#selection_dimension_3", "#selection_indicador_3"); });
        $("#selection_dimension_4").change(function () { update_indicador_dropdownlist("#selection_dimension_4", "#selection_indicador_4"); });

        update_indicador_dropdownlist("#selection_dimension_2", "#selection_indicador_2");
        update_indicador_dropdownlist("#selection_dimension_3", "#selection_indicador_3");
        update_indicador_dropdownlist("#selection_dimension_4", "#selection_indicador_4");
    </script> {% endcomment %}

    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <script src="{% static 'js/virtual-select.min.js' %}"></script>

    <script>
        // lectura de indicadores en formato json para el multiselect
        var indicadores_json = JSON.parse('{{ indicadores_json | safe }}')
    </script>

    <script src="{% static 'js/municipal_generales.js' %}"></script>
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

{% endblock %}