<!-- templates/nacional.html -->
{% extends 'base.html' %}
{% load static %}
{% block referencia %}nacional.html{% endblock %}
{% block title_1 %}Nacional{% endblock %}
{% block title_2 %}Nacional{% endblock %}

{% block content %}
<p>{{ mensaje }}</p>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="selection_tipo_grafico">Tipo de gráfico</label>
                <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_tipo_grafico">
                    <option value="map" selected>Mapa</option>
                    <option value="radar">Radar</option>
                </select>
            </div>
        </div>
        <div class="col-md-2" style="margin-top: 25px">
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="compareCheck">
                    <label class="form-check-label" for="compareCheck">Comparar</label>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="section1" class="visible">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selection_dimension_1">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_1">
                        <option value="accesibilidad" selected>Accesibilidad</option>
                        <option value="calidad">Calidad</option>
                        <option value="disponibilidad">Disponibilidad</option>
                        <option value="poblacion">Población</option>
                        <option value="utilizacion">Utilización</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selection_indicador_1">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_1">
                        <option value="0" selected>----------</option>
                        {% comment %} 
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option> 
                        {% endcomment %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:16px;">
            <div class="col-md-12">
                <div>
                    map1
                    <div id="map1" style="height: 480px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="section2" class="hidden">
        <div class="row">
            <div class="col-md-6">                
                <div class="form-group">
                    <label for="selection_dimension_2">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_2">
                        <option value="accesibilidad" selected>Accesibilidad</option>
                        <option value="calidad">Calidad</option>
                        <option value="disponibilidad">Disponibilidad</option>
                        <option value="poblacion">Población</option>
                        <option value="utilizacion">Utilización</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_indicador_2">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_2">
                        <option selected>----------</option>
                        {% comment %} 
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option> 
                        {% endcomment %}
                    </select>
                </div>
                <div style="margin-top:16px;">
                    map2
                    <div id="map2" style="height: 480px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selection_dimension_3">Dimensión</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_dimension_3">
                        <option value="accesibilidad" selected>Accesibilidad</option>
                        <option value="calidad">Calidad</option>
                        <option value="disponibilidad">Disponibilidad</option>
                        <option value="poblacion">Población</option>
                        <option value="utilizacion">Utilización</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selection_indicador_3">Indicador</label>
                    <select class="form-select  form-select-sm" aria-label="Default select example" id="selection_indicador_3">
                        <option selected>----------</option>
                        {% comment %} 
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option> 
                        {% endcomment %}
                    </select>
                </div>
                <div style="margin-top:16px;">
                    map3
                    <div id="map3" style="height: 480px;"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#compareCheck').click(function(){
            var section1 = document.getElementById("section1");
            section1.classList.toggle("hidden");
            section1.classList.toggle("visible");

            var section2 = document.getElementById("section2");
            section2.classList.toggle("hidden");
            section2.classList.toggle("visible");
        });
    </script>

    <script>
        function polystyle(feature) {
            return {
                fillColor: 'blue',
                weight: 0.8,
                opacity: 1,
                color: 'white',  //Outline color
                fillOpacity: 0.4
            };
        }
                
        var map1 = L.map('map1').setView([4.683709901063048, -74.05116825770746], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map1);
        
        var polyData1 = "{% static 'json/Colombia.json' %}"
        $.getJSON(polyData1, function (data) {
            L.geoJson(data, {style: polystyle}).addTo(map1);
            // console.log(data);
        });
    </script>

    <script>
        var map2 = L.map('map2').setView([4.683709901063048, -74.05116825770746], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map2);

        var polyData2 = "{% static 'json/Colombia.json' %}"
        $.getJSON(polyData2, function (data) {
            L.geoJson(data, {style: polystyle}).addTo(map2);
            // console.log(data);
        });
    </script>

    <script>
        var map3 = L.map('map3').setView([4.683709901063048, -74.05116825770746], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map3);

        var polyData3 = "{% static 'json/Colombia.json' %}"
        $.getJSON(polyData3, function (data) {
            L.geoJson(data, {style: polystyle}).addTo(map3);
            // console.log(data);
        });
    </script>
    
{% endblock %}